.search-icon {
  position: absolute;
  background-color: transparent;
  left: 10px;
  z-index: 99999;
  transform: translate(0%, 50%);
  height: 17px;
  width: 17px;
}

.input-field {
  padding: 5px 10px 5px 35px;
  text-overflow: ellipsis;
  border: 1px solid var(--primary-border-color);
  font-family: var(--jost-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: var(--primary-black-color);
  min-height: 33px;
}
.input-field::placeholder {
  color: var(--blue-font-color);
  opacity: 0.5;
}
.input-field:focus {
  border: 1px solid var(--primary-black-color);
  outline: 0;
}

.page-heading {
  font-family: var(--roboto-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}
.page-heading::after {
  content: "";
  display: block;
  height: 3px;
  background-color: var(--primary-green-color);
  border-radius: 10px;
  margin-top: 8px;
}

.cta-btn {
  font-family: var(--jost-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  background-color: var(--primary-green-color);
  border: 0;
  border-radius: 0;
  color: #e0fbfc;
  min-height: 33px;
}
.cta-btn span {
  margin-left: 10px;
  font-family: var(--roboto-font-family);
  font-size: 18px;
}

.table-actions-wrapper {
  padding: 6px 10px;
  border: 1px solid var(--primary-border-color);
  width: max-content;
  margin: 0px auto;
}

.react-table thead.react-table_thead {
  border-bottom: 2px solid var(--primary-border-color);
}
.react-table thead.react-table_thead th {
  font-family: var(--jost-font-family);
  font-size: 17px;
  font-weight: 600;
  line-height: 1;
  color: var(--blue-font-color);
}

.react-table .react-table_tbody tr:first-child td {
  padding-top: 30px;
}

.react-table tbody.react-table_tbody td {
  color: var(--blue-font-color);
  font-weight: 400;
  font-family: var(--roboto-font-family);
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.05em;
}

.sorting_arrow-size svg {
  color: var(--blue-font-color);
  height: 12px;
  width: 12px;
}

input.gotoPage-input-field::-webkit-outer-spin-button,
input.gotoPage-input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gotoPage-input-field {
  border: 0;
  border: 1px solid #a8ca9b;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  outline: none;
  appearance: none;
  width: 30px;
  font-family: var(--roboto-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: var(--blue-font-color);
  padding: 4px 0px;
}

.gotoPage-input-field-wrapper {
  position: relative;
  top: 5px;
}

.gotoPage-input-field-wrapper::after {
  content: "";
  position: relative;
  display: block;
  height: 2px;
  background-color: #a8ca9b;
  border-radius: 10px;
  margin: 4px auto;
  width: 96%;
}

.react-table_tfoot {
  font-family: var(--roboto-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: var(--blue-font-color);
}

.page-size-popover span {
  font-family: var(--roboto-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  padding: 3px 0px;
}

.download-icon-svg {
  color: var(--primary-black-color);
}

.download-icon-svg-wrapper {
  border: 1px solid #a8ca9b;
  height: 26px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-icon-svg-parent-wrapper::after {
  content: "";
  position: relative;
  display: block;
  height: 2px;
  background-color: #a8ca9b;
  border-radius: 10px;
  margin: 4px auto;
  width: 96%;
}

span.download-icon-svg-parent-wrapper {
  margin-top: 5px;
}

/* -----------Modal CSS---------------- */
.modal-content {
  border-radius: 0;
  background-color: #d3e4cd;
}

.modal-title {
  font-family: var(--jost-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  color: var(--blue-font-color);
  text-align: center;
  padding: 12px 0px;
}

.modal-header {
  border-bottom: 1px solid var(--primary-green-color);
  width: 85%;
  margin: 0px auto;
}

.modal-content .modal-body {
  width: 85%;
  margin: 0px auto;
  padding: 30px 0px;
}

.modal-content .modal-body form .group label {
  font-family: var(--jost-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: var(--blue-font-color);
  padding-bottom: 4px;
}

.modal-content .modal-body form .group input,
.modal-content .modal-body form .group select {
  border: 0;
  border-bottom: 2px solid #519538;
  border-radius: 0;
  font-family: var(--jost-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: var(--blue-font-color);
  background-color: transparent;
}

.modal-content .modal-body form .group input:focus,
.modal-content .modal-body form .group select:focus {
  outline: 2px solid #519538;
  border-radius: var(--primary-radius);
  border: 0;
}

.modal-content .modal-body form button {
  margin: 20px 0px 0px 0px;
}

/* --------- */
.profile-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #bfbfbf;
  object-fit: cover;
}

.leads-tab-link {
  border: 0;
  background-color: transparent;
  color: var(--blue-font-color);
  font-family: var(--jost-font-family);
  font-size: 18px;
  cursor: pointer;
  font-weight: 400;
  padding: 0;
  outline: 0;
}

.leads-tab-link.active {
  font-weight: 600;
}

.leads-tab-link.active::after {
  content: "";
  display: block;
  height: 3px;
  background-color: var(--primary-green-color);
  border-radius: 10px;
  margin-top: 3px;
}

/* ------------------- */
.dashboard-block {
  padding: 25px;
  border: 1px solid var(--primary-green-color);
  box-sizing: border-box;
  max-width: 400px;
}

.dashboard-block h4 {
  font-family: var(--jost-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  color: var(--primary-black-color);
}

ul.block-data-wrapper {
  padding-left: 1rem;
}

ul.block-data-wrapper li {
  margin-bottom: 10px;
}

ul.block-data-wrapper li::marker {
  font-size: 18px;
  color: var(--primary-green-color);
}

ul.block-data-wrapper li p {
  margin-bottom: 4px;
  font-family: var(--roboto-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.5px;
  color: var(--blue-font-color);
  word-break: break-all;
}

ul.block-data-wrapper li p span {
  font-weight: 500;
}
